# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.project
.classpath
.settings/
.factorypath

# OS files
Thumbs.db
.DS_Store

# Local environment
.env
.env.local

# Build and Dependencies (handled in subfolders but good to have here too)
node_modules/
target/
dist/
.angular/

# Logs
*.log
*.log.*
